* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

.title {
    margin-bottom: 40px;
}

.request {
    border: 1px solid #000;
    padding: 40px;
    background-color: #bbb;
    margin-bottom: 20px;;
}

.req-method {
    margin-bottom: 20px;
}

.req-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.req-value {
    padding-left: 40px;
}

form {
    border: 1px solid #000;
    padding: 40px;
}

.form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
}

.form-title {
    position: absolute;
    left: 20px;
    top: -10px;
    background-color: #fff;
}
