<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../form.css">
</head>
<body>
<header>
    <nav>
        <a class="link" href="/">Home</a>
        <a class="link" href="/registration" id="registrationLink">Registration</a>
        <a class="link" href="/login" id="loginLink">Login</a>
        <a class="link" href="/logout" id="logoutLink">Logout</a>
        <a class="link" href="/password/remind">Remind password</a>
    </nav>
</header>
<h1 class="title">Home page</h1>
<form id="remindPasswordForm">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <div class="error-message" id="error"></div>
    <button type="submit">Send</button>
</form>
<script>
    const form = document.getElementById('remindPasswordForm')
    const error = document.getElementById('error')
    const loginLink = document.getElementById('loginLink')
    const logoutLink = document.getElementById('logoutLink')
    const registrationLink = document.getElementById('registrationLink')

    document.addEventListener('DOMContentLoaded', () => {
        const user = JSON.parse(localStorage.getItem('user'))

        loginLink.style.display = user ? 'none' : 'block'
        registrationLink.style.display = user ? 'none' : 'block'
        logoutLink.style.display = user ? 'block' : 'none'
    })

    logoutLink.addEventListener('click', e => {
        e.preventDefault()

        localStorage.clear()
        location.reload()
    })

    form.addEventListener('submit', e => {
        e.preventDefault()
        error.textContent = ''

        const formData = new FormData(form)

        fetch('http://localhost:3000/api/password/remind', {
            method: 'POST',
            body: JSON.stringify({
                email: formData.get('email')
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                if (data.status === 200) {
                    alert('Password was sent to your email!')
                } else {
                    error.textContent = data.message
                }
            })
    })
</script>
</body>
</html>
